# Dataset
PlantVillage/
PlantVillage.zip

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
env/

# Generated models and local files
models/
*.h5
*.keras
.DS_Store
