dataset/
data/
*.zip
__pycache__/
.venv/
venv/
.env
.DS_Store
.ipynb_checkpoints/
*.ipynb_checkpoints
*.pth
*.pt
*.h5
*.keras
results/resnet50/*.keras
# Dataset
PlantVillage/
PlantVillage.zip

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
env/

# Generated models and local files
models/
*.h5
*.keras
.DS_Store
